@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#window {
  border-radius: 5px;
  animation: 250ms ease-in 0s fade-in;
}
#window #input {
  border-radius: 10px;
  margin: 10px 150px;
  box-shadow: none;
}
#window #input:focus {
  margin: 10px;
}
#window #entry {
  border-radius: 10px;
  margin: 5px 10px;
  padding: 10px;
}
#window #entry label {
  margin-left: 20px;
}
