* {
  border: none;
  font-family: "Source Code Pro";
  font-size: 0.90rem;
  border-radius: 0;
  min-height: 0;
  font-weight: bold;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blink {
  to {
    background-color: #cdd6f4;
  }
}

window#waybar {
 background: rgba(0,0,0,0.85);
 animation: 750ms ease-in 0s fade-in;
}

#workspaces button {
  all: initial; /* Remove GTK theme values (waybar #1351) */
  min-width: 0; /* Fix weird spacing in materia (waybar #450) */
  padding: 0 10px;
  margin: 5px 3px;
  border-radius: 5px;
  color: #cdd6f4;
  border: 1.5px solid #94ebeb;
  transition-property: color, background-color, border;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

window.bar1 .modules-left {
  border-radius: 5px;
  margin: 0 5px;
}

#custom-logo {
  padding: 0;
  margin: 0 5px 0 0;
  font-size : 1.4rem;
  color: #94ebeb;
}

#workspaces button.active,
#workspaces button.focused {
  background-color: #94ebeb;
  color: rgba(30,30,46,0.85);
}

#clock,
#window,
#custom-pacman,
#idle_inhibitor,
#pulseaudio,
#network,
#cpu,
#memory,
#battery,
#tray {
  margin: 0 2px;
  padding: 0 8px;
  background: none;
  color: #cdd6f4;
}

#clock{
  padding-right: 1.5rem;
  border-right: 0.5px solid #94ebeb;
}

#window{
  margin-left: 0.5rem;
}

#workspaces button.urgent,
#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #ff0048;
  color: #1e1e1e;
  border: 1px solid #94ebeb;
  border-radius: 5px;
  animation: blink 600ms ease-in-out infinite alternate;
}

#battery.charging {
  color: lime;
  animation: none;
  background-color: rgba(30, 30, 46, 0.85);
}

tooltip {
  border-radius: 5px;
  background-color: rgba(30,30,46,0.85);
}
